<div class="info-panel">
    <div class="content">
        <div class="title text-2xl">
            {{project.title}}
        </div>
        <div class="description">
            {{project.description}}

        </div>
    </div>
</div>
<div class="img-skills-origin">
    <div class="img-container">
        <img src="{{project.imagePath}}">
    </div>
    <div class="skills" *ngIf="project.skills?.length">
        <div class="tag" *ngFor="let skill of project.skills">{{skill}}</div>
    </div>
    <div *ngIf="project.location" class="origin">
        {{project.location}}, {{project.dateTo}}
    </div>
</div>