.img {
    position: absolute;
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    left: calc(-2rem / 2);
    background-color: var(--lightest-navy);
    border-radius: 50%;
}

.img svg {
    color: var(--green);
    width: 100%;
    height: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 30%;
}

.content {
    margin-left: 3rem;
}

.date {

    display: flex;
    gap: 0.5rem;
}

.date .to::before {
    content: "-";
}

.title {
    padding-left: 0.75rem;
}

.description {
    overflow: hidden;
    line-height: 1.5rem;

}

.can-expand {
    cursor: pointer;
}