:host {
    min-height: 100vh;
    box-sizing: border-box;
    grid-template-columns: 100%;
    display: grid;
    grid-template-rows:
        [header] 4rem [main] auto [footer-start] 4rem [footer-end];
}

:host > * {
    display: grid;
}

.header {
    grid-area: header / auto;
}

.main {
    grid-area: main / auto;
}

.footer {
    grid-area: footer / auto;
}

.main > .section {
    min-height: 100vh;
    overflow: hidden;
}

.section {
    display: grid;
    row-gap: 1rem;
    grid-template-rows: [title] 2.5rem [content] auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    grid-template-columns: 100%;
}

.title {
    display: grid;
    grid-area: title / auto;
}

.content {
    display: grid;
    grid-area: content / auto;
    justify-items: center;
    align-items: center;
}

.wrapper {
    overflow: auto;
    display: flex;
    width: 80%;
    max-width: 1280px;
    align-items: center;
    justify-content: space-evenly;
    background-color: gray;
}

@media (max-width: 768px) {
    .wrapper {
        display: block;
        overflow: unset;
    }

    .scroller {
        max-width: unset;
        max-height: unset;
        overflow: unset;
    }
}

.scroller {
    max-width: 500px;
    max-height: 300px;
    background-color: blue;
    opacity: 50%;
    overflow: auto;
}

.some-too-big-content {
    height: 700px;
    background-color: red;
    opacity: 50%;
}