<div class="header">Header</div>
<div class="main">
    <div class="section">
        <div class="title">
            <div class="title-component">TITLE</div>
        </div>
        <div class="content">
            <div class="wrapper">
                <!-- <div>hehe</div>
                <div class="scroller">
                    <div class="some-too-big-content">
                        <div>content card</div>
                        <div>content journey</div>
                    </div>
                </div>
                <div class="some-too-big-content">
                    <div>content card</div>
                    <div>content journey</div>
                </div> -->
            </div>

        </div>
    </div>
    <div class="section">
        <div class="title">
            <div class="title-component">TITLE</div>
        </div>
        <div class="content">
            <div class="wrapper">
                <!-- <div>lalal</div>
                <div>2</div>
                <div>3</div>
                <div>4</div> -->
            </div>
        </div>

    </div>
</div>
<div class="footer">Footer</div>