:host {
    margin: 0 0.5rem;
    height: 80px;
    display: flex;
    flex-direction: column;
}

.cv {
    color: var(--green);
}


@media screen and (min-width: 760px) {
    :host {
        margin: 0 4em 0 4em;
    }
}

.name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    white-space: nowrap;
    font-family: var(--media-m-family);
    font-size: var(--media-m-size);
    font-weight: var(--media-m-weight);
    line-height: var(--media-m-height);
}

@media screen and (min-width: 1280px) {
    .name {
        font-family: var(--logo-m-family);
        font-size: var(--logo-m-size);
        font-weight: var(--logo-m-weight);
        line-height: var(--logo-m-height);
    }
}


.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

.border {
    border-bottom: solid 2px #43454D;
}



.account-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    font-family: var(--media-m-family);
    font-size: var(--media-m-size);
    font-weight: var(--media-m-weight);
    line-height: var(--media-m-height);
}

@media screen and (min-width: 1280px) {
    .account-links {
        font-family: var(--menu-m-family);
        font-size: var(--menu-m-size);
        font-weight: var(--menu-m-weight);
        line-height: var(--menu-m-height);
    }
}