:host {
    height: 80px;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    box-sizing: border-box;
}

.name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    white-space: nowrap;
    overflow-x: auto;

}

@media (max-width: 860px) {
    .name > div {
        display: none;
    }
}


.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: auto;
    flex-grow: 1;
    gap: 1rem;
}

.account-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;

}