a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.svg {
    color: var(--green);
    display: inline-flex;
    width: 1em;
}

@media screen and (max-width: 640px) {
    .name {
        display: none;
    }
}