@keyframes fadeInDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.fadeInDown-animation {
    animation: 1s fadeInDown ease-in;
}

@keyframes fadeInLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.fadeInLeft-animation {
    animation: 1.5s fadeInLeft;
}

@keyframes fadeInRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.fadeInRight-animation {
    animation: 1.5s fadeInRight;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn-animation {
    animation: 1.5s fadeIn ease-in;
}

app-header {
    margin-bottom: 2rem;
    position: sticky;
    top: 0;
    left: 0;
    font-family: IBM Plex Mono;
    z-index: 5;
    width: 100%;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 20px 0px var(--dark-navy)
}

app-card.skill-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section {
    margin: 3rem auto;
}

.section > .content {
    width: 80%;
    max-width: 1000px;
    margin: 2rem auto;
}

.section.overview > .content {
    display: flex;
    align-items: center;
    gap: 2rem;
}

app-section-title {
    width: 80%;
    margin: auto;
}

app-overview {
    transition-delay: 100ms;
    flex: 1;
}

.navigation {
    color: var(--green);
}


app-timeline {
    flex: auto;
    transition-delay: 200ms;
}

@media (max-width: 860px) {
    .section.overview > .content {
        display: block;
    }

    app-overview {
        margin: 0 auto 2rem auto;
        display: block;
        width: fit-content;
    }
}

.skills {
    flex: 1;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem auto;
}

.skill-card {
    font-family: IBM Plex Mono;
    color: var(--light-slate);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.skill-logo {
    color: var(--green);
    width: 70px;
    height: 70px;
}

.skill-logo > svg {
    width: 100%;
}

.section.projects > .content > app-project {
    margin-bottom: 100px;
}

.section.projects > .content {
    margin-top: 50px;
}

.footer {
    margin-top: 2rem;
    box-sizing: border-box;
    font-family: IBM Plex Mono;
    width: 100%;
    border-top: solid var(--dark-slate) 1px;
    height: fit-content;
    padding: 0.5rem 2rem;
    text-align: end;
}

.footer > div > a:hover {
    color: var(--green);
    text-decoration: underline;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
}