<app-header />
<app-nav-bar />

<div class="content">
    <div id="overview-view">
        <app-section-title>About Me</app-section-title>
        <div class="overview-content">
            <app-overview />
            <div class="timeline desktop">
                <app-timeline />
            </div>
        </div>
        <app-timeline class="mobile" />

    </div>
    <div id="work-experiences-view">
        <app-section-title>Projects</app-section-title>
        <app-work-experiences />
    </div>
    <div id="contact-view">
        <app-section-title>Contact</app-section-title>
        <app-work-experiences />
    </div>
</div>

<router-outlet />