<app-header />
<div class="section overview">
    <div class="title">
        <app-section-title [text]="'About me'" [number]=1 />
    </div>
    <div class="content">
        <app-overview />
        <app-timeline />
    </div>
</div>
<div class="section">
    <app-section-title [text]="'Skills'" [number]=2 />
    <div class="content">

        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa sdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn
        asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa sdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn
        asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa sdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn
        asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa sdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn
        asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
        fdas asdfba sdifa dsfnaks dnfajkb dfb bsdjfa skjfn asdbf sbfa s
    </div>
</div>