<app-header class="fadeInDown-animation">
    <div class="navigation" (click)="showNav=!showNav">
        /
        @if (showNav) {
        <div *ngFor="let section of sections" [id]="section" [class]="section===currentSection ? 'current' : undefined"
            (click)="scrollIntoSection(section, $event)">
            <div>{{section}}</div>
        </div>
        } @else {
        <div class="current">{{scrollTarget ? scrollTarget : currentSection}}</div>
        }
    </div>
</app-header>
<div #overviewRef class="section overview">
    <app-section-title class="fadeIn-animation" [text]="'About me'" [number]=1 />
    <div class="content ">
        <app-overview #cvRef class="fadeIn-animation" />
        <app-timeline #timelineRef class="fadeIn-animation" />
        <div #skillsRef class="skills fadeIn-animation">
            <div class="skill-card">
                <app-card class="skill-logo">
                    <svg class="icon" viewBox="-10.5 -9.45 21 18.9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="0" cy="0" r="2" fill="currentColor"></circle>
                        <g stroke="currentColor" stroke-width="1" fill="none">
                            <ellipse rx="10" ry="4.5"></ellipse>
                            <ellipse rx="10" ry="4.5" transform="rotate(60)"></ellipse>
                            <ellipse rx="10" ry="4.5" transform="rotate(120)"></ellipse>
                        </g>
                    </svg>
                </app-card>
                <div class="text">React</div>
            </div>
            <div class="skill-card">
                <app-card class="skill-logo">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0 0 250 250">
                        <g>
                            <polygon fill="currentColor"
                                points="108,135.4 125,135.4 125,135.4 125,135.4 142,135.4 125,94.5 	" />
                            <path fill="currentColor" d="M125,30L125,30L125,30L31.9,63.2l14.2,123.1L125,230l0,0l0,0l78.9-43.7l14.2-123.1L125,30z M183.1,182.6h-21.7h0
		l-11.7-29.2H125h0h0h-24.7l-11.7,29.2h0H66.9h0L125,52.1l0,0l0,0l0,0l0,0L183.1,182.6L183.1,182.6z" />
                        </g>
                    </svg>

                </app-card>
                <div class="text">Angular</div>
            </div>
            <div class="skill-card">
                <app-card class="skill-logo">
                    <div>
                        .NET
                    </div>
                </app-card>
                <div class=" text">.NET
                </div>
            </div>
            <div class="skill-card">
                <app-card class="skill-logo">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 756.26 596.9">
                        <defs>

                        </defs>
                        <path fill="currentColor"
                            d="M743.96,245.25c-18.54-12.48-67.26-17.81-102.68-8.27-1.91-35.28-20.1-65.01-53.38-90.95l-12.32-8.27-8.21,12.4c-16.14,24.5-22.94,57.14-20.53,86.81,1.9,18.28,8.26,38.83,20.53,53.74-46.1,26.74-88.59,20.67-276.77,20.67H.06c-.85,42.49,5.98,124.23,57.96,190.77,5.74,7.35,12.04,14.46,18.87,21.31,42.26,42.32,106.11,73.35,201.59,73.44,145.66.13,270.46-78.6,346.37-268.97,24.98.41,90.92,4.48,123.19-57.88.79-1.05,8.21-16.54,8.21-16.54l-12.3-8.27ZM189.67,206.39h-81.7v81.7h81.7v-81.7ZM295.22,206.39h-81.7v81.7h81.7v-81.7ZM400.77,206.39h-81.7v81.7h81.7v-81.7ZM506.32,206.39h-81.7v81.7h81.7v-81.7ZM84.12,206.39H2.42v81.7h81.7v-81.7ZM189.67,103.2h-81.7v81.7h81.7v-81.7ZM295.22,103.2h-81.7v81.7h81.7v-81.7ZM400.77,103.2h-81.7v81.7h81.7v-81.7ZM400.77,0h-81.7v81.7h81.7V0Z" />
                    </svg>
                </app-card>
                <div class=" text">Docker
                </div>
            </div>
        </div>
    </div>
</div>
<div #projectsRef class="section projects">
    <app-section-title class="fadeIn-animation" [text]="'Projects'" [number]=2 />
    <div class="content">
        <app-project *ngFor="let project of projects; let i = index" [project]="project"
            [imgPosition]="i % 2 ? 'right' : 'left'"
            [class]="i % 2 ? 'fadeInLeft-animation' : 'fadeInRight-animation' " />
    </div>
</div>

<div class="footer text-xs">
    <div>
        Réalisé avec Angular
    </div>
    <div>
        Design inspiré du travail de
        <a href="https://brittanychiang.com/" target="_blank">Brittany CHIANG</a>&nbsp;<a
            href="https://v4.brittanychiang.com/" target="_blank">(V4)</a>
    </div>
</div>