app-nav-bar {
    position: fixed;
    top: 120px;
    left: 20px;

}

@media screen and (max-width: 760px) {
    app-nav-bar {
        display: none;

    }

}

.content {
    display: grid;
    gap: 2rem;
    margin: 1.25rem 4rem;
}

.content > div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content div > *:nth-child(2) {
    flex-grow: 1;
    margin-bottom: 2rem;
}

app-section-title {
    align-self: center;
}