.timeline {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
}

.img {
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 4px;
    background-color: var(--brand-1);
    border-radius: 50%;
}


.timeline .content {
    height: 30px;
    margin-left: 30px;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: var(--brand-1);
}

.timeline__dot {
    background-color: currentColor;
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;
    margin: 0.625em 0;
    margin-inline-end: 1em;
    position: relative;
    width: 0.75em;
    height: 0.75em;
}