div {
    padding: 0.75rem 1.5rem;
    border-radius: 9999px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

div:disabled {
    cursor: auto;
}

.white {
    background-color: white;
    color: var(--bg-1);
}

.brand {
    background-color: var(--brand-1);
    color: var(--bg-1);
}

.dark {
    background-color: var(--bg-1);
    color: var(--brand-1);
}