:host {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.line {
    background-color: var(--lightest-navy);
    height: 0.1rem;
    flex-grow: 1;
}

.number {
    color: var(--green);
}

.number::after {
    content: ".";
}